svg.viewport g.flipY.normalX {
  transform: scaleY(-1);
  transform-origin: 0 0;
}

svg.viewport g.flipY.normalX g.text text {
  transform: scaleY(-1);
  transform-origin: 0 0;
}

svg.viewport g.normalY.flipX {
  transform: scaleX(-1);
  transform-origin: 0 0;
}

svg.viewport g.normalY.flipX g.text text {
  transform: scaleX(-1);
  transform-origin: 0 0;
}

svg.viewport g.flipY.flipX {
  transform: scaleX(-1) scaleY(-1);
  transform-origin: 0 0;
}

svg.viewport g.flipY.flipX g.text text {
  transform: scaleX(-1) scaleY(-1);
  transform-origin: 0 0;
}
