.area-polygon-inner-perimeter path {
  fill: var(--gray-4);
  stroke-width: 50;
  stroke: var(--gray-10);
}

.area-polygon-outer-perimeter path {
  fill: none;
  stroke-width: 50;
  stroke: var(--gray-10);
}

.area-cuboid-corner rect {
  fill: none;
  stroke: var(--gray-12);
  stroke-width: 20;
  stroke-dasharray: 200, 100;
  opacity: 0.7;
}

.area-polygon text,
.area-cuboid text {
  font-size: 100px;
  text-anchor: middle;
  opacity: 0.7;
  color: var(--gray12);
}

.area-cuboid-window rect {
  fill: #87ceeb;
  stroke: #4c879e;
  stroke-width: 10;
  opacity: 0.5;
}

.area-cuboid-door rect {
  fill: #8b4513;
  stroke: #65320e;
  stroke-width: 20;
}

.area-cuboid-passage rect {
  fill: none;
  stroke: var(--gray-8);
  stroke-width: 20;
  stroke-dasharray: 200, 100;
  opacity: 0.7;
}
