.area-polygon-inner-perimeter path {
  fill: var(--gray-4);
  stroke-width: 50;
  stroke: var(--gray-10);
}

.area-polygon-outer-perimeter path {
  fill: none;
  stroke-width: 50;
  stroke: var(--gray-10);
}

.area-polygon-corner path {
  fill: none;
  stroke: var(--gray-12);
  stroke-width: 20;
  stroke-dasharray: 50, 50;
  opacity: 0.7;
}

.area-polygon text,
.area-cuboid text,
.area-cut text {
  font-size: 100px;
  text-anchor: middle;
  opacity: 0.7;
  color: var(--gray12);
}

.area-cuboid-window path {
  fill: #87ceeb;
  stroke: #4c879e;
  stroke-width: 10;
  opacity: 0.5;
}

.area-cuboid-door path {
  fill: #8b4513;
  stroke: #65320e;
  stroke-width: 20;
}

.area-cuboid-passage path {
  fill: none;
  stroke: var(--gray-8);
  stroke-width: 20;
  stroke-dasharray: 200, 100;
  opacity: 0.7;
}

.area-polygon-bottom-plate path,
.area-polygon-top-plate path {
  fill: var(--gray-8);
  stroke: var(--gray-12);
  stroke-width: 20;
  stroke-dasharray: 20, 20;
  opacity: 0.7;
}

.area-polygon-bottom-plate text,
.area-polygon-top-plate text {
  font-size: 50px;
  dominant-baseline: central;
}

.area-cut-floor-level line {
  stroke: var(--gray-12);
  stroke-width: 10;
  stroke-dasharray: 100, 50;
  opacity: 0.7;
}

.area-cut-floor-level text {
  dominant-baseline: hanging;
  font-weight: bold;
  font-size: 70px;
}

/* Mid cut functionality */
.mid-cut-enabled .construction-element.above-cut,
.mid-cut-enabled .construction-group.above-cut {
  display: none;
}

/* Issue hover highlighting animation */
@keyframes pulse-highlight {
  0%,
  100% {
    fill-opacity: 0.6;
    stroke-width: 30;
  }
  50% {
    fill-opacity: 0.8;
    stroke-width: 50;
  }
}

/* Part highlighting animation */
@keyframes pulse-part-highlight {
  0%,
  100% {
    stroke-width: 40;
    filter: drop-shadow(0 0 20px var(--accent-a6));
  }
  50% {
    stroke-width: 50;
    filter: drop-shadow(0 0 30px var(--accent-a8));
  }
}

.construction-error {
  stroke: var(--color-danger-dark);
  stroke-width: 30;
  fill: var(--color-danger);
  fill-opacity: 0.4;
  stroke-dasharray: 50, 50;
}

.construction-warning {
  stroke: var(--color-warning-dark);
  stroke-width: 30;
  fill: var(--color-warning);
  fill-opacity: 0.4;
  stroke-dasharray: 50, 50;
}

g.tag__construction_module.minZ-in-group,
g.tag__construction_module.maxZ-in-group {
  outline: solid 30px var(--accent-a8);
  outline-offset: -30px;
}

/*
g.tag__straw_full-bale {
  outline: solid 20px var(--grass-a8);
  outline-offset: -20px;
}

g.tag__straw_partial-bale {
  outline: solid 20px var(--lime-a8);
  outline-offset: -20px;
}

g.tag__straw_flakes {
  outline: solid 20px var(--blue-a8);
  outline-offset: -20px;
}

g.tag__straw_stuffed {
  outline: solid 20px var(--red-a8);
  outline-offset: -20px;
}
  */
