@config "../../tailwind.config.js";
@import 'tailwindcss';

/* global.css */
@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

.radix-themes {
  --default-font-family: 'Inter', system-ui, sans-serif;
}

.rt-TextFieldRoot input:focus {
  outline: none !important;
}
